
<link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity ="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
<div class=" h-80  m-3  max-w-8xl"
    style="background-image: url(./assets/heading-bg.jpeg)">
    <app-module-banner
    message="About Us"
    title="MORE ABOUT US !">
</app-module-banner>
</div>

<div  class=" h-screen  max-w-8xl">
    <app-about-us-detail
    ></app-about-us-detail>
</div>




<div class="  flex h-70 w-screen mt-14">

   
    <div class="h-56 w-2/5 ml-28 "> 
    <app-brief-description
    message="Two-One Donec porttitor augue"
    title="Quisque bibendum cursus viverra. Mauris at ex  Aenean  ipsum. Aenean urna nisl, eget interdum ante euismod vel.
     Aliquam at metus sit amet nunc dapibus posuere enean urna nisl,.">

    </app-brief-description>
</div>



    <div class="h-56 w-2/5 ml-28 "> 
        <app-brief-description
        message="Two-Two Donec porttitor augue"
        title=" Maecenas et metus nisl. Morbi ac interdum metus. Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat.
        Mauris sagittis magna vel tellus semper interdum et id sapien.">
    </app-brief-description>
    </div>
</div>






<div  class=" flex  h-96 w-full mt-7">



    <div class="h-52 w-2/6  ml-24"> 
        <app-brief-description
        message="1-03 Donec porttitor augue"
        title="Quisque bibendum cursus viverra. Mauris at ex ipsum. Aenean urna nisl, 
        eget interdum ante euismod vel. Aliquam at metus sit amet nunc dapibus posuere.">
    
        </app-brief-description>

    </div>

    <div class="h-52 w-2/6   ml-14 "> 
        <app-brief-description
        message="2-03 Donec porttitor augue"
        title="Maecenas et metus nisl. Morbi ac interdum metus. Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat.
         Mauris sagittis magna vel tellus semper .">
    
        </app-brief-description>

    </div>

    <div class="h-52 w-2/6   ml-16 "> 
        <app-brief-description
        message="3-03 Donec porttitor augue"
        title="Maecenas et metus nisl. Morbi ac interdum metus. Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat.
        Mauris sagittis magna vel tellus semper .">
    
        </app-brief-description>

    </div>

</div>
<div  class=" flex relative bottom-24 h-80 w-full">



    <div class="h-52 w-2/6  ml-24"> 
        <app-brief-description
        message="01  Four Columns"
        title="Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. 
        Aliquam at metus sit amet nunc dapibus posuere.">
    
        </app-brief-description>

    </div>

    <div class="h-52 w-2/6  ml-24"> 
        <app-brief-description
        message="02  Four Columns"
        title="Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna 
        vel tellus semper interdum et id sapien.">
    
        </app-brief-description>

    </div>

    <div class="h-52 w-2/6   ml-14 "> 
        <app-brief-description
        message="03  Four Columns"
        title="Mauris at ex ipsum. Aenean condimentum urna nisl, eget interdum ante euismod vel. 
        Aliquam at metus sit amet nunc dapibus posuere.">
    
        </app-brief-description>

    </div>

    <div class="h-52 w-2/6   ml-16 "> 
        <app-brief-description
        message="04  Four Columns"
        title="Aliquam erat volutpat. Donec posuere tortor vel volutpat consequat. Mauris sagittis magna 
        vel tellus semper interdum et id sapien.">
    
        </app-brief-description>

    </div>

</div>

<ul class="flex items-center justify-center tracking-wider  max-w-6xl left-44 relative h-16">
    <li><a href="#"><i class="fa fa-facebook-official p-2 m-1 cursor-pointer hover:bg-yellow-500  bg-gray-900 text-white  rounded-full"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter m-1 p-2 cursor-pointer hover:bg-yellow-500  bg-gray-900 text-white  rounded-full"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin p-2 m-1 cursor-pointer hover:bg-yellow-500  bg-gray-900 text-white  rounded-full"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss p-2 cursor-pointer m-1 hover:bg-yellow-500  bg-gray-900 text-white  rounded-full "></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble p-2 cursor-pointer m-1 hover:bg-yellow-500  bg-gray-900 text-white  rounded-full"></i></a></li>
<ul>