


<p class="font-extrabold text-xl uppercase"> CATEGORIES</p>
<p class="opacity-10 text-gray-700">____________________________________________</p>
<p class="m-2 leading-6 font-semibold text-gray-900 text-sm cursor-pointer hover:text-yellow-600" >- Nature Lifestyle
    <p class="m-2 leading-6 cursor-pointer hover:text-yellow-600 text-sm font-semibold">- Awesome Layouts</p>
    <p  class="m-2 leading-6 font-semibold text-gray-900 text-sm cursor-pointer hover:text-yellow-600" >  - Creative Ideas</p>
   <p  class="m-2 leading-6 font-semibold text-gray-900 text-sm cursor-pointer hover:text-yellow-600" >- Responsive Templates</p>
    <p  class="m-2 leading-6 font-semibold text-gray-900 text-sm cursor-pointer hover:text-yellow-600" >- HTML5 / CSS3 Templates</p>
    <p  class="m-2 leading-6 font-semibold text-gray-900 text-sm cursor-pointer hover:text-yellow-600 " >- Creative & Unique</p>