<div class="  bg-gray-900 h-80  m-3  max-w-8xl" 
style="background-image: url(./assets/heading-bg.jpeg)">
    <app-module-banner
    
    message="RECENT POSTS"
    title="OUR RECENT BLOG ENTRIES!">
</app-module-banner>
</div>


<app-template-banner> </app-template-banner>

<div class="h-full mt-12 flex  ">

<div class=" h-full   ">
    <div class="  flex  "> 

        <app-post 
        image="./assets/blog-thumb-01.jpg"
     title="LiIFESTYLE"
        message="Donec Tincidunt Leo "
        user="Admin"
        date="May 14,2020"
        comments="46 Comments"
        paragraph="Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend."
        
        icon3=" Facebook"
        icon4="Twitter"
        ></app-post>

<div class="relative right-32 ">
        <app-post 
        image="./assets/blog-thumb-02.jpg"
        title="FASHION"
        message="Suspendisse Et Metus"
        user="Admin"
        date="May 14,2020"
        comments="46 Comments"
        paragraph="Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend."
        
        icon3=" Facebook"
        icon4="Twitter"
        ></app-post>
</div>
        

    </div>

    <div class=" flex w-full h-full"> 
        <div class="  flex   "> 
<div class="relative bottom-16">
        <app-post 
        image="./assets/blog-thumb-03.jpg"
        title="FASHION"
        message="Donec Tincidunt Leo "
        user="Admin"
        date="May 14,2020"
        comments="46 Comments"
        paragraph="Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend."
        
        icon3=" Facebook"
        icon4="Twitter"
        ></app-post>
</div>
        <div class="relative right-32 bottom-16">
        <app-post 
        image="./assets/blog-thumb-04.jpg"
        title="LIFESTYLE"
        message="Mauris Ac Dolor Ornare"
        user="Admin"
        date="May 14,2020"
        comments="46 Comments"
        paragraph="Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend."
        icon3=" Facebook"
        icon4="Twitter"
        ></app-post>

        </div>
</div>
    </div>

    <div class=" flex w-full h-full"> 
        <div class="  flex   "> 
<div class="relative bottom-28">
        <app-post 
        image="./assets/blog-thumb-05.jpg"
        title="FASHION"
        message="Donec Tincidunt Leo "
        user="Admin"
        date="May 14,2020"
        comments="46 Comments"
        paragraph="Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend."
        
        icon3=" Facebook"
        icon4="Twitter"
        ></app-post>
</div>
        <div class="relative right-32 bottom-28">
        <app-post 
        image="./assets/blog-thumb-06.jpg"
        title="LIFESTYLE"
        message="Mauris Ac Dolor Ornare"
        user="Admin"
        date="May 14,2020"
        comments="46 Comments"
        paragraph="Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend."
        icon3=" Facebook"
        icon4="Twitter"
        ></app-post>

        </div>
</div>
    </div>

</div>




    <div class="max-h-screen p-4   relative right-20 top-16 w-96 " >

    
          <p class="relative bottom-7 right-1">  <app-post-search></app-post-search></p>

        <p class="text-xl  uppercase font-bold leading-10">
            Recent Posts
        </p>
    <p  class="opacity-10 text-gray-700  relative bottom-2">____________________________________________</p>
    <app-recent-posts
        message=" 
        Vestibulum id turpis porttitor sapien facilisis scelerisque"
        date=" May 31, 2020">
    </app-recent-posts>
    <p  class="opacity-10 text-gray-700  relative bottom-2">___________________________________________</p>
    
    <app-recent-posts
        message=" 
        Suspendisse et metus nec libero ultrices varius eget in risus"
        date=" May 31, 2020">
    </app-recent-posts>
    <p  class="opacity-10 text-gray-700  relative bottom-2">____________________________________________</p>
    <app-recent-posts
        message=" 
        Swag hella echo park leggings, shaman cornhole ethical coloring"
        date=" May 31, 2020">
    </app-recent-posts>
    <div class="mt-11">
    <app-categories></app-categories>
    </div>
    
    <app-tag-clouds></app-tag-clouds>

    </div>
</div>
<div class=" h-20  flex  w-full  -mb-24 relative bottom-32">
<div class="h-7 w-8 border-gray-400  left-96 ml-10  text-gray-600 relative border cursor-pointer hover:text-yellow-500 p-6 items-center flex justify-center">
    1
</div>
<div class="h-7 w-8 border-gray-400 border left-96 ml-3 relative p-6  items-center  text-white bg-yellow-600 flex justify-center">
    2
</div>
<div class="h-7 w-8 border-gray-400 border items-center p-6  left-96 ml-3 relative hover:text-yellow-500 cursor-pointer text-gray-600 flex justify-center"> 
    3
</div>   
<div class="h-7 w-8 border-gray-400 border items-center p-6 left-96 ml-3  cursor-pointer relative hover:text-yellow-500 text-gray-600 flex justify-center"> 
    >>
</div>       
</div>