<div class=" h-screen max-w-2xl  mt-10 border-gray-100 border-2  ml-44 ">
    
        <img src="assets/blog-post-01.jpg">
    <p class=" font-bold text-base right-2  text-yellow-500 relative p-6">
        {{title}}
    </p>
    <h2 class=" cursor-pointer font-bold text-xl bottom-9 relative p-4 tracking-wider ">{{message}}</h2>
    <p class="font-thin  hover:text-yellow-500 relative bottom-16 cursor-pointer p-4 text-gray-400 "> {{user}} | {{date}} | {{comments}}</p>

<p class=" font-thin text-sm relative leading-8  tracking-wide bottom-10  p-4 text-gray-500 ">{{paragraph}}</p>
<p class=" font-normal relative text-xs    p-4 text-gray-400 cursor-pointer hover:text-yellow-600 ">{{icon}}</p>
<p class="font-normal relative  text-xs left-12 bottom-12 p-4 text-gray-400 cursor-pointer hover:text-yellow-600 ">{{icon2}}</p>
<p class="font-normal relative text-xs  float-right bottom-24 right-12 cursor-pointer hover:text-yellow-600  p-4 text-gray-400 ">{{icon3}}</p>
<p class="font-normal relative text-xs  float-right bottom-24 right-6 cursor-pointer hover:text-yellow-600  p-4 text-gray-400 ">{{icon4}}</p>
</div>
