
<div class="p-3 grid grid-cols-3 gap-3  w-full  object-contain">
<app-carousel
style="background-image: url(./assets/banner-item-02.jpg)"
title="Fashion"
message="Morbe Dapibus Condimentum"
user="Admin"
date="May 12,2020"
comments="2 Comments"
></app-carousel>

<app-carousel
style="background-image: url(./assets/banner-item-03.jpg)"
title="Nature"
message="Responsive and Mobile Ready Layout"
user="Admin"
date="May 18,2020"
comments="48 Comments"
></app-carousel>

<app-carousel
style="background-image: url(./assets/banner-item-04.jpg)"
title="Lifestyle"
message="Best Template of Html"
user="Admin"
date="May 16,2020"
comments="36 Comments"
></app-carousel>
</div>

 <app-template-banner> </app-template-banner>


 <div class="float-right mr-48  right-6 pt-20 relative top-24"> 
    <app-post-search></app-post-search>
</div>





<div class="h-1/6  flex  w-full"> 


<div class="h-1/6 w-3/4">   

<app-post 
image="./assets/blog-post-01.jpg"
title="LIFESTYLE"
message="Best Template For Html Css"
user="Admin"
date="May 20,2020"
comments="36 Comments"
paragraph="Stand Blog is a free HTML CSS template for your CMS theme. You can easily adapt or 
customize it for any kind of CMS or website builder. You are allowed to use it for your  business. You are NOT allowed to re-distribute the template ZIP file on any template collection site for the download purpose. Contact TemplateMo for more info. Thank you."
icon="Beauty , "
icon2="Nature "
icon3=" Facebook"
icon4="Twitter"
></app-post>



<app-post 
image="./assets/blog-post-02.jpg"
title="HEALTHY"
message="Etiam Id Diam Vitae Lorem Dictum"
user="Admin"
date="May 24,2020"
comments="36 Comments"
paragraph="You can support us by contributing a little via PayPal. Please contact TemplateMo via Live Chat or Email. If you have any question or feedback about this template, feel free to talk to us. Also, you may check other CSS templates such as multi-page, resume, video, etc."
icon="HTML , "
icon2="Photoshop "
icon3=" Facebook"
icon4="Twitter"
></app-post>

<app-post 
image="./assets/blog-post-03.jpg"
title="FASHION"
message="Donec Tincidunt Leo Nec Magna"
user="Admin"
date="May 14,2020"
comments="46 Comments"
paragraph="Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque."
icon="HTML , "
icon2="Photoshop "
icon3=" Facebook"
icon4="Twitter"
></app-post>
</div>



<div class="max-h-screen p-4   relative top-32 right-40 w-96  " >

    <p class="text-xl  uppercase font-bold leading-10">
        Recent Posts
    </p>
<p  class="opacity-10 text-gray-700  relative bottom-2">____________________________________________</p>
<app-recent-posts
    message=" 
    Vestibulum id turpis porttitor sapien facilisis scelerisque"
    date=" May 31, 2020">
</app-recent-posts>
<p  class="opacity-10 text-gray-700  relative bottom-2">___________________________________________</p>

<app-recent-posts
    message=" 
    Suspendisse et metus nec libero ultrices varius eget in risus"
    date=" May 31, 2020">
</app-recent-posts>
<p  class="opacity-10 text-gray-700  relative bottom-2">____________________________________________</p>
<app-recent-posts
    message=" 
    Swag hella echo park leggings, shaman cornhole ethical coloring"
    date=" May 31, 2020">
</app-recent-posts>
<div class="mt-11">
<app-categories></app-categories>
</div>

<app-tag-clouds></app-tag-clouds>

</div>
</div>


