<div>
    <div class="h-24 bg-gray-50 w-full flex justify-between px-48 items-center shadow-sm ">
        <div class=" h-14 cursor-pointer uppercase text-2xl font-bold ">stand blog<span class="text-red-400 text-4xl ">.</span></div>
        <div class="flex space-x-12 uppercase tracking-wide items-center">
            <a routerLink ="/home" class="hover:text-yellow-500  text-sm cursor-pointer font-bold ">home</a>
            <a routerLink="/aboutus" class="hover:text-yellow-500 cursor-pointer tracking-wider font-bold text-sm">about us</a>
            <a routerLink="/blogentries" class="hover:text-yellow-500  cursor-pointer font-bold tracking-wider text-sm">blog entries</a>
            <a routerLink="/postdetails" class="hover:text-yellow-500  cursor-pointer font-bold text-sm tracking-wider">post details</a>
            <a routerLink="/contactus" class="hover:text-yellow-500 cursor-pointer font-bold text-sm tracking-wider">contact us</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>