
<p class=" relative top-16 font-extrabold text-xl uppercase">Tag Clouds</p>
<p class=" text-gray-700 top-16 opacity-10 relative">____________________________________________</p>
<div class="flex flex-wrap  mt-20 items-start h-32 w-96 ">
    <div class="h-10 w-24 m-2 flex items-center justify-center border-gray-300 border hover:bg-yellow-500 cursor-pointer text-gray-400  text-bold ">Lifestyle </div>
        <div class="h-10 w-24 m-2 border-gray-300 border flex items-center justify-center text-gray-400  text-bold hover:bg-yellow-500 cursor-pointer">Creative</div>
        <div  class="h-10 w-24 m-2 border-gray-300 border flex items-center justify-center text-gray-400  text-bold hover:bg-yellow-500 cursor-pointer ">HTML5</div>
        <div  class="h-10 w-24 m-2 border-gray-300 border flex items-center justify-center text-gray-400  text-bold hover:bg-yellow-500 cursor-pointer">Inspiration</div>
        <div  class="h-10 w-24 m-2 border-gray-300 border flex items-center justify-center text-gray-400  text-bold hover:bg-yellow-500 cursor-pointer">  Motivation</div>
        <div class="h-10 w-24 m-2 border-gray-300 border flex items-center justify-center text-gray-400  text-bold hover:bg-yellow-500 cursor-pointer">PSD</div>
        <div class="h-10 w-24 m-2 border-gray-300 border flex items-center justify-center text-gray-400  text-bold hover:bg-yellow-500 cursor-pointer ">Responsive</div>
</div>
