
<p class=" relative top-24 font-extrabold text-xl uppercase">Tag Clouds</p>
<p class=" text-gray-700 top-24 opacity-10 relative">____________________________________________</p>
<div class="flex flex-wrap  mt-28 items-start h-32 w-96 ">
    <div class="h-10 w-24 m-2 flex items-center justify-center border-gray-300 border text-gray-400  text-bold ">Lifestyle </div>
        <div class="h-10 w-24 m-2 border-gray-300 border flex items-center justify-center text-gray-400  text-bold ">Creative</div>
        <div  class="h-10 w-24 m-2 border-gray-300 border flex items-center justify-center text-gray-400  text-bold ">HTML5</div>
        <div  class="h-10 w-24 m-2 border-gray-300 border flex items-center justify-center text-gray-400  text-bold ">Inspiration</div>
        <div  class="h-10 w-24 m-2 border-gray-300 border flex items-center justify-center text-gray-400  text-bold ">  Motivation</div>
        <div class="h-10 w-24 m-2 border-gray-300 border flex items-center justify-center text-gray-400  text-bold ">PSD</div>
        <div class="h-10 w-24 m-2 border-gray-300 border flex items-center justify-center text-gray-400  text-bold ">Responsive</div>
</div>
