
    <div class="h-4/6 w-5/6 mt-10 ml-32" style="background-image: url(./assets/about-us.jpg)"></div>
    <p class="mt-8 ml-36 leading-7 cursor-default font-normal text-base text-gray-600 "> Please tell your friends about TemplateMo website. Thank you. You can browse through different categories  of templates such as <span class="text-blue-400 cursor-default"> business, portfolio, restaurant, etc.</span>
        <br> Pellentesque quis luctus libero. Maecenas pretium molestie erat, ac tincidunt leo gravida ac. Cras ullamcorper eu ipsum eu sollicitudin. Fusce vitae commodo turpis.
        <br> Integer ullamcorper purus nec justo mollis fermentum. Nunc imperdiet erat nec lacinia laoreet. 
    </p>
    <p class="mt-8 ml-36 leading-7 font-normal cursor-default text-base text-gray-600" >Maecenas faucibus ullamcorper felis vitae finibus. Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet
        <br> justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas
        <br> rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.</p>
        <p class="text-gray-700  opacity-10 mt-5 ml-32 ">____________________________________________________________________________________________________________________________________________________________________________</p>