
<div class="h-5/6 p-24 bg-gray-900 mt-16 w-full  border border-black">
<div class="h-24  flex justify-center items-center  relative bottom-14   ">
    <p class="text-sm text-white p-4 font-normal ">FACEBOOK </p>
    <p class="text-sm text-white p-4 font-normal"> |</p>
    <p class="text-sm text-white p-4 font-normal">TWITTER </p>
    <p class="text-sm text-white p-4 font-normal"> |</p>
    <p class="text-sm text-white p-4 font-normal ">BEHANCE  </p>
    <p class="text-sm text-white p-4 font-normal"> |</p>
    <p class="text-sm text-white p-4 font-normal">LINKEDIN </p>
    <p class="text-sm text-white p-4 font-normal"> |</p>
    <p class="text-sm text-white p-4  font-normal">DRIBBLE </p>
</div>
<p class="text-white justify-center items-center flex relative bottom-12 left-6 opacity-10 text-xs">______________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
<p class="text-xs text-white  flex justify-center items-center font-thin"> COPYRIGHT 2020 STAND BLOG CO. | DESIGN: <span class="text-yellow-600 uppercase cursor-pointer"> TEMPLATEMO</span></p>
</div>
