<div class="  bg-gray-900 h-80  m-3  max-w-8xl"
style="background-image: url(./assets/heading-bg.jpeg)">
    <app-module-banner
    
    message="CONTACT US"
    title="LET'S STAY IN TOUCH !">
</app-module-banner>
</div>

<p class="text-base tracking-wider  font-bold ml-44 relative top-10">SEND US A MESSAGE</p>
    <p class="opacity-10 text-gray-700 ml-44 relative top-10">_________________________________________________________________________________________________________________</p>


    <div class="w-full h-full  flex ">
    <div class="h-96 w-2/3 relative top-16  mb-64">
<app-send-us-message></app-send-us-message>
</div>

<div class="h-96 w-64 ml-16 relative bottom-10">

    <p class="text-base  uppercase font-bold mt-5 mb-4 leading-10">
        CONTACT INFORMATION
    </p>

<p  class="opacity-10 text-gray-700  relative bottom-5">____________________________________________</p>
<app-contact-information

message=" 090-484-8080"
date="PHONE NUMBER"

>

</app-contact-information>

<p  class="opacity-10 text-gray-700  relative bottom-2">____________________________________________</p>
<app-contact-information

message="info@company.com"
date="EMAIL ADDRESS"

>

</app-contact-information>

<p  class="opacity-10 text-gray-700  relative bottom-2">____________________________________________</p>
<app-contact-information

message="123 Aenean id posuere dui, 
Praesent laoreet 10660"
date="STREET ADDRESS"

>

</app-contact-information>

<p  class="opacity-10 text-gray-700  relative bottom-2">____________________________________________</p>
</div>
</div>