<input name="name" type="text" class=" ml-44 h-14 w-2/5 border-gray-100 border-2 text-sm font-thin" id="name" placeholder="  Your Name" required="">
    <input name="email" type="email" class=" ml-2 h-14 w-2/5 border-gray-100 border-2 text-sm font-thin" id="email" placeholder=" Your E-Mail " required="">
    <input name="name" type="text" class="ml-44 h-14 w-4/5 mt-7 border-gray-100 border-2 font-thin text-sm  " id="name" placeholder=" Subject" required="">
    <input name="message" type="text" class=" ml-44 text-sm w-4/5 mt-7 border-gray-100 font-thin border-2 h-48" id="message" placeholder=" Your Message" required="">
    <button type="submit" id="form-submit" class="ml-44 h-12 w-32 bg-yellow-500  mt-7 font-thin  text-white border-2 text-sm  "> Send Message</button>
